.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.content-table thead tr {
    background-color: lightblue;
    color: black;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr {
    background-color: #f3f3f3;
    text-align: left;
}

label, select, option {
    font-size: 15px;
}

body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

button {
    border-radius: 5px; 
    height: 30px; 
    width: 90px;
    margin-left: 40%;
    margin-right: 40%;
}

button:active {
    background-color: white;
}

button:hover {
    background-color: lightsteelblue;
}

.instructions{
    background: linear-gradient(rgba(250, 215, 59, 0.973), rgb(255, 239, 93));
    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    margin-left: 35%;
    margin-right: 35%;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
}

h1 {
    text-align: center;
    text-shadow: 0px 0px 10px white;
}

.form {
    text-align: left;
    background: linear-gradient(rgba(250, 215, 59, 0.973), rgb(255, 239, 93));
    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
}

.finput {
    margin-left: 43px;
}

.einput {
    margin-left: 70px;
}

.ainput {
    margin-left: 81px;
}

.radinput {
    margin-left: 85px;
}

.option {
    margin-left: 20px;
    font-size: 13px;
}

.cinput {
    margin-left: 15px;
}